{
  "extends": [
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "templateStrings": true,
      "classes": true
    }
  },
  "rules": {
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true
  }
}